<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> My Status </title>
    </head>

    <body>
        <div class="title-container">
            <h1>
                Halo, Apa Kabar?
            </h1>
        </div>

        <div class="content-container">
            <div class="form-container">
                <h2>
                    Add Status
                </h2>

                <form action="{% url 'status:landing' %}" method = 'POST'>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value='Add Status' id = 'submit-status'>
                </form>
            </div>

            <div class="status-container">
                {% for stat in statuses %}
                    <div class="stat">
                        <div class="status-title">
                            {{ stat }}
                        </div>
                        
                        <div class="status-time">
                            {{ stat.waktu }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

